version: '3'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: bash -c "rm -f /app/tmp/pids/server.pid && bundle exec rails db:migrate && bundle exec rails assets:precompile && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/app
    ports:
      - 3000:3000
    depends_on:
      - db
      - s3
      - dynamodb
    links:
      - s3:s3.localhost
  db:
    image: postgres
  s3:
    image: lphoward/fake-s3
    ports:
      - 4569:4569
    expose:
      - "4569"
  dynamodb:
    image: deangiberson/aws-dynamodb-local
    ports:
      - 8000:8000
