version: '3'
services:
  web:
    image: web
    build:
      context: .
      dockerfile: Dockerfile
    command: bash -c "rm -f /app/tmp/pids/server.pid && yarn install && bundle exec rails db:migrate && bundle exec rails assets:precompile && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/app
    ports:
      - 3000:3000
    environment: # Remember to add new vars both here and below in the worker container
      - ASSET_HOST
      - AWS_ACCESS_KEY_ID
      - AWS_REGION
      - AWS_SECRET_KEY
      - BUNDLE_WITHOUT
      - DATABASE_URL
      - ENABLE_ADS
      - GOOGLE_CLIENT_ID
      - GOOGLE_CLIENT_SECRET
      - NEW_RELIC_LICENSE_KEY
      - NODE_ENV
      - PATREON_CLIENT_ID
      - PATREON_CLIENT_SECRET
      - PATREON_WEBHOOK_SECRET
      - RACK_ENV
      - RAILS_SERVE_STATIC_FILES
      - RAILS_SKIP_ASSET_COMPILATION
      - RAILS_SKIP_MIGRATIONS
      - READ_ONLY_MODE
      - REDIS_URL
      - ROLLBAR_ACCESS_TOKEN
      - S3_BUCKET
      - SECRET_KEY_BASE
      - SKYLIGHT_AUTHENTICATION
      - SITE_TITLE
      - TWITCH_CLIENT_ID
      - TWITCH_CLIENT_SECRET
  worker:
    image: worker
    build:
      context: .
      dockerfile: Dockerfile
    command: bash -c "rm -f /app/tmp/pids/delayed*.pid && ruby bin/delayed_job run -n 2"
    ports: []
    environment: # Remember to add new vars both here and above in the web container
      - ASSET_HOST
      - AWS_ACCESS_KEY_ID
      - AWS_REGION
      - AWS_SECRET_KEY
      - BUNDLE_WITHOUT
      - DATABASE_URL
      - ENABLE_ADS
      - GOOGLE_CLIENT_ID
      - GOOGLE_CLIENT_SECRET
      - NEW_RELIC_LICENSE_KEY
      - NODE_ENV
      - PATREON_CLIENT_ID
      - PATREON_CLIENT_SECRET
      - PATREON_WEBHOOK_SECRET
      - RACK_ENV
      - RAILS_SERVE_STATIC_FILES
      - RAILS_SKIP_ASSET_COMPILATION
      - RAILS_SKIP_MIGRATIONS
      - READ_ONLY_MODE
      - REDIS_URL
      - ROLLBAR_ACCESS_TOKEN
      - S3_BUCKET
      - SECRET_KEY_BASE
      - SKYLIGHT_AUTHENTICATION
      - SITE_TITLE
      - TWITCH_CLIENT_ID
      - TWITCH_CLIENT_SECRET
