version: '2'
services:
  web:
    image: web
    build:
      context: .
      dockerfile: Dockerfile
    command: bash -c "rm -f /app/tmp/pids/server.pid && bundle install && bundle exec rails db:migrate && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - ./:/app
    ports:
      - 3000:3000
    depends_on:
      - db
      - s3
      - webpacker
      - worker
      - redis
    links:
      - s3:s3.localhost
      - webpacker:webpacker.localhost
    environment:
      - AWS_REGION=local
      - AWS_ACCESS_KEY_ID=beep
      - AWS_SECRET_KEY=boop
      - ENABLE_ADS=0
      - NODE_ENV=development
      - READ_ONLY_MODE=0
      - REDIS_URL="redis/0"
      - RAILS_ENV
      - RAILS_ROOT="/app"
      - S3_BUCKET=splits-io
      - SITE_TITLE=Splits I/O (Local)
      - GOOGLE_CLIENT_ID
      - GOOGLE_CLIENT_SECRET
      - PATREON_CLIENT_ID
      - PATREON_CLIENT_SECRET
      - TWITCH_CLIENT_ID
      - TWITCH_CLIENT_SECRET
    stdin_open: true
    tty: true
  db:
    image: postgres
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/10-init.sql
  s3:
    image: lphoward/fake-s3
    ports:
      - 4569:4569
    expose:
      - "4569"
  webpacker:
    image: webpacker
    build: .
    command: bash -c "yarn install && ruby bin/webpack-dev-server"
    volumes:
      - .:/app
    ports:
      - 3035:3035
    expose:
      - "3035"
  worker:
    image: worker
    environment:
      - AWS_REGION=local
      - AWS_ACCESS_KEY_ID=beep
      - AWS_SECRET_KEY=boop
      - ENABLE_ADS=0
      - NODE_ENV=development
      - READ_ONLY_MODE=0
      - REDIS_URL=redis/0
      - RAILS_ENV
      - RAILS_ROOT=/app
      - S3_BUCKET=splits-io
      - SITE_TITLE=Splits I/O (Local)
      - GOOGLE_CLIENT_ID
      - GOOGLE_CLIENT_SECRET
      - PATREON_CLIENT_ID
      - PATREON_CLIENT_SECRET
      - TWITCH_CLIENT_ID
      - TWITCH_CLIENT_SECRET
    build: .
    command: bash -c "rm -f /app/tmp/pids/delayed*.pid && bundle exec rake jobs:work"
    ports: []
    depends_on:
      - db
      - s3
    links:
      - s3:s3.localhost
    stdin_open: true
    tty: true
  redis:
    image: redis
