03-fix-permissions.config:
    files:
      "/opt/elasticbeanstalk/hooks/appdeploy/pre/10_fixing_permission.sh":
        content: |
            #!/usr/bin/env bash
 
            . /opt/elasticbeanstalk/containerfiles/envvars
 
            CACHE_GEM_DIR=$EB_CONFIG_APP_ONDECK/vendor/cache
            ASSETS_DIR=$EB_CONFIG_APP_ONDECK/public
            DB_DIR=$EB_CONFIG_APP_ONDECK/db
            if [ -d $CACHE_GEM_DIR ]
            then
              chown -R webapp:webapp $CACHE_GEM_DIR
              echo "Modified the owner of $CACHE_GEM_DIR files"
            else
              echo "Nothing in $CACHE_GEM_DIR"
            fi
 
            if [ -d $ASSETS_DIR ]
            then
              chown -R webapp:webapp $ASSETS_DIR
              echo "Modified the owner of $ASSETS_DIR files"
            else
              echo "Nothing in $ASSETS_DIR"
            fi
 
            if [ -d $DB_DIR ]
            then
              chown -R webapp:webapp $DB_DIR
              echo "Modified the owner of $DB_DIR files"
            else
              echo "Nothing in $DB_DIR"
            fi
 
            true
        mode: "000755"
