- content_for(:title, @race)

- content_for(:header) do
  ol.breadcrumb.shadow
    li.breadcrumb-item = link_to(site_title, root_path)
    li.breadcrumb-item = link_to('Games', games_path)
    li.breadcrumb-item = link_to(@race.game, game_path(@race.game))
    - if @race.try(:category)
      li.breadcrumb-item = link_to(@race.category, game_category_path(@race.game, @race.category))
      li.breadcrumb-item = link_to(@race.type.to_s.capitalize.pluralize, game_category_path(@race.game, @race.category))
    - else
      li.breadcrumb-item = link_to(@race.type.to_s.capitalize.pluralize, game_path(@race.game))
    li.breadcrumb-item.active = link_to(@race.id, race_path(*@race.url_params))

.row.mx-2
  .col-md-6 = render partial: 'races/title', locals: {race: @race}
  .col-md-6 = render partial: 'races/stats', locals: {race: @race}

.row.mx-1.mt-3
  #entrants-table.col-md-6 = render partial: 'races/entrants_table', locals: {race: @race}

  .col-md-6
    .card.shadow.my-3#chat-card
      #chat-box
        .list-group.list-group-flush style='max-height: 500px; overflow-y: auto'
          .list-group-item.p-0
            .input-group
              input.form-control type='text' placeholder='Chat...' autofocus=true
              .input-group-append
                button.btn.btn-dark type='button' Chat
          - user = User.first
          - [ \
              { \
                text: 'First message! I\'m greyscale because I haven\'t joined.', \
                status: :spectator \
              }, \
              { \
                text: 'Oh hello there!', \
                status: :entrant \
              }, \
              { \
                text: 'This is a blind run for me :P', \
                status: :entrant \
              }, \
              { \
                text: 'Let\'s do this!', \
                status: :entrant \
              }, \
              { \
                text: 'Wait I have to get a drink', \
                status: :entrant \
              }, \
              { \
                text: 'Filler to trigger the scrollbar', \
                status: :entrant \
              }, \
              { \
                text: 'Filler to trigger the scrollbar', \
                status: :entrant \
              }, \
              { \
                text: 'Filler to trigger the scrollbar', \
                status: :entrant \
              }, \
              { \
                text: 'Filler to trigger the scrollbar', \
                status: :entrant \
              }, \
              { \
                text: 'Filler to trigger the scrollbar', \
                status: :entrant \
              }, \
              { \
                text: 'Filler to trigger the scrollbar', \
                status: :entrant \
              }, \
              { \
                text: 'Filler to trigger the scrollbar', \
                status: :entrant \
              }, \
              { \
                text: 'Filler to trigger the scrollbar', \
                status: :entrant \
              }, \
              { \
                text: 'Filler to trigger the scrollbar', \
                status: :entrant \
              }, \
              { \
                text: 'Filler to trigger the scrollbar', \
                status: :entrant \
              }, \
              { \
                text: 'Filler to trigger the scrollbar', \
                status: :entrant \
              }, \
              { \
                text: 'Filler to trigger the scrollbar', \
                status: :entrant \
              }, \
              { \
                text: 'Filler to trigger the scrollbar', \
                status: :entrant \
              }, \
              { \
                text: 'Filler to trigger the scrollbar', \
                status: :entrant \
              }, \
              { \
                text: 'Filler to trigger the scrollbar', \
                status: :entrant \
              }, \
            ].reverse.each.with_index do |message, i|
            .list-group-item.p-0 style=('filter: grayscale(1)' if message[:status] == :spectator)
              .media
                img.mr-3 src=user.avatar width=25 height=25
                .media-body
                  span.mr-2 = user_badge(user)
                  span title="Sent #{i.minutes.ago}" = message[:text]
          .list-group-item.p-0
            .media
              img.mr-3 src=asset_path('logo-darkbg-breathingroom.png') width=25 height=25
              .media-body
                span.mr-2: .badge.badge-success Splits.io
                span title="Sent #{60.minutes.ago}": i Race created
