.container
  %h2 404
  %p
    That user wasn't found.
  %p
    If you have reason to believe this is a mistake, please
    %a{href: "mailto:qhiiyr@gmail.com"} email me
    this URL and why you think so.
