- title '404'
- content_for(:header) do
  %h2
    404
    %small Not Found
%article
  %p
    That user doesn't exist.
  %p
    If you have reason to believe this is a mistake, please
    %a{href: "mailto:qhiiyr@gmail.com"} email me
    this URL and why you think so.
