- title @user.name
.container
  %h2= content_for(:title)
  %h6
    %a#twitch-channel{href: @user.uri, target: :_blank}= @user.uri.to_s.gsub('http://www.', '')
  %h6
    = @user.games.reject { |game| game.name.blank? }.map { |game| game.shortname || game.name }.join(", ")
  - cols = {without: [:runner]}
  - cache [:run_table, :v3, {user: @user, cols: cols, page: params[:page] || 1}] do
    = render partial: 'shared/run_table', locals: {runs: @user.runs, cols: cols}
