- title @user.name
.container
  %h2= content_for(:title)
  %h5 on splits.io
  - cols = {without: [:runner]}
  - cache [:run_table, :v3, {user: @user, cols: cols, page: params[:page] || 1}] do
    = render partial: 'shared/run_table', locals: {runs: @user.runs, cols: cols}
