%h6
  - if flash[:alert]
    .alert-warning
      .glyphicon{class: "glyphicon-#{flash[:icon]}"}
      = flash[:alert]
  - if flash[:notice]
    .alert-default
      .glyphicon{class: "glyphicon-#{flash[:icon]}"}
      = flash[:notice]
