- cache [:follows, :v1, {user: current_user}] do
  - if current_user.follows.present?
    %br
    %h5 Hey, you. Here are some people you follow.
    = current_user.follows.find_each do |user|
      .col-xs-12.col-sm-6.col-md-4
        .media{style: "margin: .5em 0;"}
          %a.pull-left{href: user_path(user)}
            %img{src: user.avatar, height: 64, width: 64}
          .media-body
            %h4.media-heading= user.name
            = user.games.reject { |game| game.name.blank? }.map { |game| game.shortname || game.name.downcase }.join(", ")
