- show_milliseconds = show_milliseconds.nil? ? false : show_milliseconds
- if time == 0
  = '-'
- else
  = ChronicDuration.output(time.truncate, limit_to_hours: true, pad_to: :hours, format: :chrono)
  - if show_milliseconds
    %small>= Time.at(time).utc.strftime(".%2N")
