- if current_user.try(:just_signed_up?)
  :coffee
    mixpanel.alias "#{current_user.id}"
    mixpanel.track "user signed up"
- if current_user.try(:just_signed_in?)
  :coffee
    mixpanel.identify "#{current_user.id}"

:coffee
  mixpanel.track "page viewed", {'URL': window.location.pathname}
  mixpanel.track_links "#sign_in",  "user signed in"
  mixpanel.track_links "#sign_out", "user signed out"
- if @run.present?
  :coffee
    mixpanel.track_links "#download-menu a", "run downloaded", (el) ->
      $.extend gon.run.tracking_info, { 'Desired Program': el.innerHTML }
    mixpanel.track_links "#disown", "run disowned"
    mixpanel.track_links "#delete", "run deleted"
