- if current_user.try(:just_signed_up?)
  :coffee
    mixpanel.alias "#{current_user.id}"
- if current_user.try(:just_signed_in?)
  :coffee
    mixpanel.identify "#{current_user.id}"

:coffee
  mixpanel.track "page viewed", {
    'URL': window.location.pathname
  }
