- if current_user.try(:just_signed_up?)
  :coffee
    mixpanel.alias "#{current_user.id}"
    mixpanel.track "signed up"
- if current_user.try(:just_signed_in?)
  :coffee
    mixpanel.identify "#{current_user.id}"

:coffee
  mixpanel.track "viewed a page", {'URL': window.location.pathname}
  mixpanel.track_links "#sign_in",  "signed in"
  mixpanel.track_links "#sign_out", "signed out"
  mixpanel.track_links "#disown", "disowned a run"
  mixpanel.track_links "#delete", "deleted a run"
- if @run.present?
  :coffee
    mixpanel.track_links "#download-menu", "opened the download menu", gon.run.tracking_info
    mixpanel.track_links "#download-menu a", "downloaded a run", (el) ->
      $.extend gon.run.tracking_info, { 'Desired Program': el.innerHTML }
