.container
  %h2 faq
  .question
    %h4 Who writes splits i/o?
    %p
      Just me, glacials. You can check me over at
      %a{target: :_blank, href: 'http://www.twitch.tv/glacials'} twitch.tv/glacials
      and at
      %a{target: :_blank, href: 'http://twitter.com/glcls'} twitter.com/glcls
      if you want, it's up to you.
  .question
    %h4 How is 'splits i/o' supposed to be capitalized?
    %p
      idk man.
  .question
    %h4 Is splits i/o open source?
    %p
      Yes! Check it out at
      %a{target: :_blank, href: 'https://github.com/glacials/splits-io'} github.com/glacials/splits-io
      and feel free to contribute!
  .question
    %h4 Help splits i/o kidnapped my sister!
    %p
      You can always email me at
      %a{href: 'mailto:qhiiyr@gmail.com'} qhiiyr@gmail.com
      with issues! Or if you'd prefer, you can post them at the GitHub issues page! But maybe you should call the
      police first!
