.container
  %h2
    404
    %small Not Found
  %p
    That game doesn't exist.
  %p
    If you have reason to believe this is a mistake, please
    %a{href: "mailto:qhiiyr@gmail.com"} email me
    this URL and why you think so.
