- title @game.name
.container
  %h2= content_for(:title)
  %h5 a speedgame
  = render partial: 'shared/alerts'
  %form#search.form-inline{action: search_path, method: :get}
    .form-group
      %input{type: :text, name: 'q', placeholder: 'search...', value: @game.shortname}
    .form-group
      %input{type: :submit, value: 'search'}
.container
  - cache [:run_table, :v1, {game: @game}] do
    = render partial: 'shared/run_table', locals: {runs: @game.runs}
