.container
  %h2 404
  %p
    Those splits either never existed or were deleted. If you typed the URL manually, check for mistakes.
  %p
    If you think this is a mistake on our end, please
    %a{href: "mailto:qhiiyr@gmail.com"} email me
    the URL of these splits and why you think their nonexistence is a mistake.
