#main
  .header
    %h1 bad url
  .content
    %h2.content-subhead can't find those splits
    %p
      Those splits either never existed or were deleted. If you typed the URL
      manually, check for mistakes.
    %p
      If you think this is a mistake on our end, please
      %a{href: "mailto:qhiiyr@gmail.com"} email me
      the URL of these splits and why you think their nonexistence is a mistake.
      I'll get on it right away.
