.container
  %h2 can't parse that
  %p
    For some reason we couldn't parse that file. We currently support splits from WSplit (both 1.4.x and Nitrofski's
    1.5.x fork), Time Split Tracker, SplitterZ, and LiveSplit (1.2 and up). Llanfair is in the works.
  %p
    If that file
    %em did
    come from a program we support, please
    %a{href: "mailto:qhiiyr@gmail.com"} send me an email
    with the file attached so that I can fix whatever issue is happening here!
  %p
    If it wasn't, and you'd like support for that program (I want to be all-encompassing), please email me and let me
    know you'd like support for it!
