#main
  .header
    %h1 can't parse that
  .content
    %h2.content-subhead parse error
    %p
      For some reason we couldn't parse that file. We currently support splits
      from WSplit (both 1.4.x and 1.5.x), Time Split Tracker, and SplitterZ.
    %p
      If that file
      %em was
      of a format we support, please
      %a{href: "mailto:qhiiyr@gmail.com"} send me an email
      with the file attached so that I can fix whatever issue is happening here.
    %p
      If it wasn't, and you'd like support for that program (I want to be
      all-encompassing), please email me and let me know you'd like support for
      it!
