- title 'nope'
- content_for(:header) do
  %h2 can't parse that
%article
  %p
    For some reason we couldn't parse that file. We currently support splits from #{Run.programs.to_sentence}.
  %p
    If that file
    %em did
    come from a program we support, please
    %a{href: "mailto:qhiiyr@gmail.com"} send me an email
    with the file attached so that I can fix whatever issue is happening here!
  %p
    If it wasn't, and you'd like support for that program (I want to be all-encompassing), please email me and let me
    know you'd like support for it!
