#main
  .header
    %h1 can't parse that
  .content
    %h2.content-subhead parse error
    %p
      For some reason we couldn't parse that file. We currently support only
      WSplit.
    %p
      If that
      %em was
      a WSplit file, please
      %a{href: "mailto:qhiiyr@gmail.com"} send me an email
      with the file attached so that I can fix whatever issue this is.
    %p
      If it wasn't, and you'd like support for that program (I want to be
      all-encompassing), please email me and let me know you'd like support for
      it!
