#main
  .header
    %h1 file too big
  .content
    %h2.content-subhead we don't accept files over 1 MiB
    %p
      If for some crazy reason you're actually trying to upload a set of splits
      that humongous, and you feel it is justified,
      %a{href: "mailto:qhiiyr@gmail.com"} drop me a line
      so that I know whether or not I'm being too restrictive.
