#main
  .header
    %h1 splits.io
    %h2
      upload
      %u all
      the splits
  .content
    %h2.content-subhead How to use splits.io
    %p
      Save your splits to a file using your favorite splitting program, then
      drag that file anywhere on this page.
