- title "hello"
.container
  %h2 splits i/o
  %h5
    upload
    - if user_signed_in? && current_user.name.present?
      %a{href: user_path(current_user)} all
    - else
      %u all
    the splits
  = render partial: 'shared/alerts'
  - if user_signed_in? && current_user.runs.present?
    - cache [:run_table, :v1, @user] do
      = render partial: 'shared/run_table', locals: {runs: current_user.runs}
    %div{id: ab_test(:show_follows) ? "follows" : ""}
  - else
    Save your splits to a file using your favorite splitting program, then
    drag that file anywhere on this page.
