#main
  .header
    %h1 splitsbin
    %h2
      upload
      %u all
      the splits
  .content
    %h2.content-subhead How to use splitsbin
    %p
      Export your splits to a file from a program like WSplit or Llanfair, then
      drag that file anywhere on this page.
