<% title "upload" %>
<% content_for(:header) do %>
  <% # We don't need this, but LiveSplit does until their next release. Without it, sharing via LiveSplit breaks. %>
  <meta content="" name='<meta content="" name="csrf-token" />' />
  <h2>drop it like it's hot</h2>
  <h5>drag your splits onto this page, or any page</h5>
<% end %>
<article>
  <form id="upload" action="<%= runs_path %>" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <input type="file" name="file" />
    </div>
    <small class="form-group">
      <!--<a class="fake-link" id="advanced-link" onclick="toggle_advanced_menu();">advanced +</a>-->
      <div id="advanced-menu" class="form-group" style="display: none;">
        <input type="checkbox" name="run[ignore_history]" id="ignore_history" />
        <label for="ignore_history">Ignore history</label>
        <p>
          This box tells Splits I/O to never parse run or split history for this run. Check it if your run history is so
          big that previous attempts to upload this file have timed out.
        </p>
        <p>
          You probably don't need to check this.
        </p>
      </div>
    </small>
    <noscript>
      <div class="form-group">
        <input type="submit" value="upload" style="display: none;" />
      </div>
    </noscript>
  </form>
</article>
<article>
  <h5>
    want to just convert splits instead of storing them?
    try the <%= link_to "convert page", convert_path %> then.
  </h5>
</article>
