- title "upload"
- content_for(:header) do
  // We don't need this, but LiveSplit does. CryZe107 knows, so hopefully we can remove it next time LiveSplit updates.
  %h2 drop it like it's hot
  %h5 drag your splits onto this page, or any page
%article
  <meta content="" name="csrf-token" />
  %form#upload{action: runs_path, method: :post, enctype: "multipart/form-data"}
    .form-group
      %input{type: :file, name: "file"}
    %noscript
      .form-group
        %input{type: :submit, value: "upload", style: "display: none;"}
