#main
  .header
    %h1 drop it like it's hot
    %h2 drag your splits onto this page, or any page
  .content
    %p
      No file manager? Not feeling the JavaScript?  Just pretend it's the 90s
      and use the&nbsp;
      %a{href: fallback_upload_path}> fallback upload form
      \.
