<% title "upload" %>
<% content_for(:header) do %>
  <ol class="breadcrumb shadow">
    <li class="breadcrumb-item"><%= link_to "Splits I/O", root_path %></li>
    <li class="breadcrumb-item"><%= link_to "Upload", new_run_path %></li>
  </ol>
  <% # We don't need this, but LiveSplit does until their next release. Without it, sharing via LiveSplit breaks. %>
  <meta content="" name='<meta content="" name="csrf-token" />' />
  <h2>Drop it like it's hot</h2>
  <h5>Drag your splits onto this page, or any page.</h5>
<% end %>
<article>
  <form id="upload" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <input id="file" type="file" name="file" />
    </div>
  </form>
</article>
<article>
  <h5>
    Have multiple files? Forget the form&mdash;drag and drop them onto the page all at once.
  </h5>
  <h5>
    Want to just convert splits instead of storing them?
    Try the <%= link_to "convert page", convert_path %>.
  </h5>
</article>
