#main
  .header
    %h1 upload splits
    %h2 go on, we're waiting
  .content
    %h2.content-subhead Upload splits
    %p
      You actually don't need to come to this page to upload splits&mdash;you
      can just drag and drop your splits file anywhere on any page&mdash;but
      you're here, so go ahead and do what you gotta do.
    %p
      Or, you can pretend it's the 90s and use the&nbsp;
      %a{href: fallback_upload_path}> fallback upload form
      \.
