#main
  .header
    %h1 upload splits
    %h2 go ahead, we're waiting
  .content
    %h2.content-subhead Upload splits
    %p
      You actually don't need to come to this page to upload splits&mdash;you
      can just drag and drop your splits file anywhere on any page&mdash;but
      you're here, so go ahead and do what you gotta do.
