.header
  %h1 drop it like it's hot
  %h2 drag your splits onto this page, or any page
.content
  %form.pure-form{action: upload_path, method: :post, enctype: "multipart/form-data"}
    %input{type: :hidden, name: :authenticity_token, value: form_authenticity_token}
    %input{type: :file, name: :file}
    %input{type: :submit, value: :upload}
