#main
  .header
    %h2 anonymous / #{@run.title}
  .content
    %table.pure-table{style: "margin: auto;"}
      %thead
        %tr
          %th #
          %th Title
          %th Duration
          %th Finished at
      %tbody
        %tr
          %td 1
          %td Blah
          %td 013412
          %td 510251
        %tr
          %td 2
          %td Blah
          %td 013412
          %td 510251
