/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
}

#logo {
  background-color: #777;
  color: #fff;
  letter-spacing: -1px;
  padding: 10px;
  margin-top: -10px;
  margin-left: -10px;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  left: 10px;
}

#dropzone {
  position: absolute;
  overflow-x: hidden;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
}

#dropzone-overlay {
  display: none;
  background-color: #333;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
}

.inverted {
  color: white;
}

.align-right {
  text-align: right;
}

.run-footer {
  font-size: 12px;
  margin: auto;
  text-align: center;
}

.run-footer a {
  color: #777;
  text-decoration: none;
}

.run-footer a:hover {
  text-decoration: underline;
}

#permalink-indicator {
  display: none;
  font-size: 20px;
  white-space: nowrap;
  position: fixed;
  left: 180px;
  top: 10px;
}

.size-chart {
  width: 100%;
}

    .size-chart-item {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .size-chart-blue {
        background: #0e90d2;
    }
        .size-chart-blue span {
            color: rgb(103, 194, 240);
        }

    .size-chart-purple {
        background: rgb(128, 88, 165);
    }
        .size-chart-purple span {
            color: rgb(200, 131, 255);
        }
    .size-chart-green {
        background: #5eb95e;
    }

        .size-chart-green span {
            color: rgb(161, 240, 137);
        }

    .size-chart-red {
        background: #dd514c;
    }

        .size-chart-red span {
            color: rgb(236, 164, 154);
        }

    .size-chart-orange {
        background: rgb(250, 210, 50);
    }
        .size-chart-orange span {
            color: rgb(255, 240, 134);
        }
    .size-chart-yellow {
        background: rgb(243, 123, 29);
    }
        .size-chart-yellow span {
            color: rgb(255, 190, 129);
        }

    .size-chart-label {
        display: block;
        color: #fff;
        padding: 0.5em;
        text-decoration: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .size-chart-size {
        display: block;
    }
