@import purecss/base
@import purecss/grids
@import purecss/menus
@import headings
@import bootstrap
@import tipsy

.stealth-link
  color: #333
  &:hover
    color: #dd514c

.gold-split
  background: #ffd700
  cursor: default
  display: inline-block
  height: .9em
  margin: 0 .5em
  width: .45em

.spinner
  -webkit-animation: spin 4s linear infinite
  -moz-animation: spin 4s linear infinite
  animation: spin 4s linear infinite

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }

code
  background-color: #f1f1f1
  color: #303030

.disabled
  background: repeating-linear-gradient(-45deg, #fff, #fff 6px, #f1f1f1 6px, #f1f1f1 12px)

.absolute
  position: absolute

.center
  text-align: center

.pagination
  cursor: default
  a, span, em
    padding: 0.2em 0.5em
    display: block
    float: left
    margin-right: .5em
    min-width: 2em
    text-align: center
  .disabled
    display: none
  .current
    font-style: normal
    font-weight: bold
  a
    text-decoration: none
    color: #0e90d2
    border: 1px solid #9aafe5
    &:hover, &:focus
      color: #000033
      border-color: #000033
  .page_info
    background: #0e90d2
    color: white
    padding: 0.4em 0.6em
    width: 22em
    margin-bottom: 0.3em
    text-align: center
    b
      color: #000033
      background: #0e90d2
      padding: 0.1em 0.25em
  .previous_page, .next_page
    border: none

.alert
  display: inline-block
  padding: .5em

.alert-danger
  @extend .alert
  background: #dd514c
  a
    color: #fdd
    &:hover
      color: #fff

.alert-success
  @extend .alert
  background-color: #dff2bf
  color: #4f8a10
  a
    &:hover
      text-decoration: none

.alert-primary
  @extend .alert
  background-color: #bde5f8
  color: #00529b

.alert-default
  @extend .alert
  background-color: #ddd
  color: #666

.alert-warning
  @extend .alert
  background: #feefb3
  color: #9f6000
  a
    &:hover
      text-decoration: none

nav
  @extend .pull-right

nav a
  background-color: #f1f1f1
  color: #777
  display: inline-block
  letter-spacing: -1px
  margin-left: -.3em
  padding: 10px
  &:hover
    background-color: #777
    color: #fff

.logo
  color: #f1f1f1
  display: inline-block
  margin-left: -.3em
  padding: 10px

th
  white-space: nowrap

th a
  color: #333
  &:hover
    color: #0e90d2

form
  margin: 2em 0

tr[href]
  cursor: pointer

table
  @extend .table
  @extend .table-striped

.hover
  @extend .table-hover

input
  &[type="submit"]
    @extend .btn
    @extend .btn-default

body, h1, h2, h3, h4, h5, h6
  font-family: "Open Sans", sans-serif

a
  color: #0e90d2
  text-decoration: none
  &:hover
    text-decoration: none

h2 small
  font-size: 0.5em
  display: block

#twitch-channel
  color: #777
  &:hover
    color: #6441a5


#download-menu
  display: none
  float: left
  margin: 0
  white-space: nowrap
  width: 0

#download-link
  width: 50%

a
  &:link.twitch-signin img
    display: none
    vertical-align: text-bottom
  &:hover.twitch-signin
    color: #6441a5
    text-decoration: none
    img
      display: inline

.fake-link
  cursor: pointer

#dropzone
  position: absolute
  overflow-x: hidden
  left: 0
  top: 0
  width: 100%
  min-height: 100%
  padding-bottom: 4em

#dropzone-overlay
  display: none
  background-color: #333
  position: fixed
  left: 0
  top: 0
  width: 100%
  min-height: 100%

.inverted
  color: white

.align-right
  text-align: right

.align-left
  text-align: left

footer
  color: #777
  position: absolute
  bottom: 0
  font-size: .7em
  margin: auto
  text-align: right
  width: 100%
  a
    color: #777
    text-decoration: none
    &:hover
      color: #777
      text-decoration: underline

.timeline
  @extend .pure-g
  width: 100%

.split, .inspect
  color: #fff
  text-decoration: none
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  white-space: nowrap

.blue
  background: #0e90d2
  nav &
    background: #f1f1f1
    &:hover
      background: #0e90d2
      color: #f1f1f1
    &.logo
      background: #0e90d2

.purple
  background: rgb(128, 88, 165)
  nav &
    background: #f1f1f1
    &:hover
      background: rgb(128, 88, 165)
      color: #f1f1f1
    &.logo
      background: rgb(128, 88, 165)

.green
  background: #5eb95e
  nav &
    background: #f1f1f1
    &:hover
      background: #5eb95e
      color: #f1f1f1
    &.logo
      background: #5eb95e

.red
  background: #dd514c
  nav &
    background: #f1f1f1
    &:hover
      background: #dd514c
      color: #f1f1f1
    &.logo
      background: #dd514c

.yellow
  background: rgb(250, 210, 50)
  nav &
    background: #f1f1f1
    &:hover
      background: rgb(250, 210, 50)
      color: #f1f1f1
    &.logo
      background: rgb(250, 210, 50)

.orange
  background: rgb(243, 123, 29)
  nav &
    background: #f1f1f1
    &:hover
      background: rgb(243, 123, 29)
      color: #f1f1f1
    &.logo
      background: rgb(243, 123, 29)

.split .title, .inspect .title
  padding: 0.5em 0 0 0.5em

.split .time, .inspect .time
  padding: 0 0 0.5em 0.5em

.split .time
  color: rgba(255, 255, 255, 0.5)

.inspect
  .title, .time
    margin-left: .3em

.split .time
  display: block

.inspect
  .time
    display: block
  color: #aaa

.bar
  border-color: #aaa
  border-left: 1px solid
  border-right: 1px solid
  color: #aaa
  overflow: hidden
  position: relative
  text-align: center
  &:before, &:after
    position: absolute
    top: 51%
    overflow: hidden
    width: 50%
    height: 1px
    content: '\a0'
    background-color: #aaa
  &:before
    margin-left: -50%
    text-align: right
