@import "purecss/base"
@import "purecss/grids"
@import "purecss/grids-responsive"
@import "purecss/menus"
@import headings
@import bootstrap-sprockets
@import "bootswatch/slate/variables"
@import bootstrap
@import "bootstrap-toggle/css/bootstrap-toggle"
@import "bootswatch/slate/bootswatch"
@import "tipsy/src/stylesheets/tipsy"
@import "c3/c3"

@import colors

@import ads
@import article
@import badges
@import charts
@import code
@import faq
@import footer
@import jumbotron
@import navigation
@import rivalries
@import tabs
@import text
@import timeline
@import tips
@import times
@import toggle

hr
  border-top: 1px dashed #ddd
  margin: none
  width: 100%

ul.goals
  list-style: none

.spinner
  -webkit-animation: spin 4s linear infinite
  -moz-animation: spin 4s linear infinite
  animation: spin 4s linear infinite

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }

.absolute
  position: absolute

.center
  text-align: center

th
  white-space: nowrap

tr[href]
  cursor: pointer

h2 small
  font-size: 0.5em
  display: block

#download-menu
  visibility: hidden
  float: left
  margin: 0
  white-space: nowrap
  width: 0

#download-link
  width: 50%

a
  &:link.twitch-signin img
    display: none
    vertical-align: text-bottom
  &:hover.twitch-signin
    color: #6441a5
    text-decoration: none
    img
      display: inline

.fake-link
  cursor: pointer

#dropzone
  position: absolute
  overflow-x: hidden
  left: 0
  top: 0
  width: 100%
  min-height: 100%
  padding-bottom: 4em

#dropzone-overlay
  display: none
  background-color: #333
  position: fixed
  left: 0
  top: 0
  width: 100%
  min-height: 100%
  z-index: 100

.inverted
  color: white

.align-right
  text-align: right

.align-left
  text-align: left

.kill-run-button
  cursor: pointer
