$nav-background: #fff
$nav-color: #666

nav
  @extend article
  background-color: $nav-background
  border-color: #ccc
  border-style: dashed
  border-width: 1px 1px 0
  margin-top: 1em
  padding: 0

nav a
  color: $nav-color
  display: inline-block
  letter-spacing: -1px
  padding: .75em
  &:hover
    background-color: $nav-background
    color: $nav-color

nav .dropdown
  display: inline-block
  text-align: right

.dropdown-menu
  right: 0

nav a.selected
  color: $nav-background

nav .nav-link
  background: $nav-background
  color: $nav-color
  &:hover
    color: $nav-background

ul.run-options
  display: inline
  padding: 0
  li
    display: inline
    list-style: none
    padding: 0 .5em 0 0
  li:not(:last-child)
    border-right: 1px solid #333
  li:not(:first-child)
    padding: 0 .5em

nav > .left-nav, nav > .right-nav
  padding: 0

nav > .left-nav
  @extend .col-lg-10
  @extend .col-md-10
  @extend .col-sm-10
  @extend .col-xs-6
  text-align: left

nav > .right-nav
  @extend .col-lg-2
  @extend .col-md-2
  @extend .col-sm-2
  @extend .col-xs-6
  margin: 0
  padding: 0
  text-align: right

.dropdown-toggle
  white-space: nowrap

.dropdown-link
  width: 100%
