nav
  @extend .pull-right

nav a
  color: #777
  display: inline-block
  letter-spacing: -1px
  margin-left: -.3em
  padding: 10px
  &:hover
    background-color: #777
    color: #fff

nav .dropdown
  display: inline-block
