.inspect
  .time
    display: block

.bar
  border-color: #aaa
  border-left: 1px solid
  border-right: 1px solid
  color: #aaa
  overflow: hidden
  position: relative
  text-align: center
  &:before, &:after
    position: absolute
    top: 51%
    overflow: hidden
    width: 50%
    height: 1px
    content: '\a0'
    background-color: #aaa
  &:before
    margin-left: -50%
    text-align: right

.split, .inspect
  text-decoration: none
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  white-space: nowrap

.timeline
  width: 100%

.blank
  background: rgba(255, 255, 255, 0)

.split
  cursor: default

.second-half
  float: right
  text-align: right

.timeline .inspect
  .bar
    margin-bottom: .3em

.split .time
  display: block

.gold.timeline
  background: var(--green)
  display: flex
  font-size: .5em
  position: relative

.gold-split
  background-color: var(--light-black)
  cursor: default
  display: inline-block
  height: 100%
  margin: 0
  padding: 0
  width: .45em

.gold-badge
  background-color: var(--gold)
  cursor: default
  display: inline-block
  height: 1em
  width: .5em
  margin-right: .5em

.timeline-animation
  left: 0px
  transition-duration: 0.2s
  transition-property: left

.timeline-background
  background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1), 6px, rgba(0, 0, 0, .1) 6px, rgba(0, 0, 0, .1) 12px)
  position: relative

.video-progress-line
  height: 6em
  margin-left: -0.5em
  position: absolute
  z-index: 100

.video-progress-line::after
  border: 1px solid #fff
  content: ''
  transform: translate(-50%, -50%)

  position: absolute
  left: 50%
  top: 50%

  height: 100%
  width: 100%
