@import "../node_modules/bootstrap/scss/functions"
@import "../node_modules/bootstrap/scss/variables"
@import "../node_modules/bootstrap/scss/mixins"

.video-player
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0

@include media-breakpoint-up(xs)
  .video-card
    padding-bottom: 55.5%

@include media-breakpoint-up(md)
  .video-card
    padding-bottom: 28.125%
