- title 'Why?'
- content_for(:header) do
  h2 why is gold a thing?
  h5 september 2016
article
  .question
    p This question can be broken down into a few, so let's go ahead and do that.
    h4 Why does Splits I/O want money?
    p Gold is meant 100% as a way for me to break even on server costs. It turns out that scaling up the ability to
      parse large runs is hard to do without more infrastructure.
    p Splits I/O used to be on Heroku, a cloud web application service. We were within the free tier of service for a
      while, then we weren't. So I said "Hey no big deal, sure I'll pay $9 / month for more than 1000 database rows or
      whatever and $30 / month for an extra server for when one is taking a long time to parse something". For a time,
      this worked out and I was happy to foot the bill to keep the hobby project I love to work on online.
    p Then it started getting out of hand. Heroku's pricing model changed drastically and Splits I/O's usage
      simultaneously demanded more resources -- caching, more boxes, a secondary data store so that we could store and
      retrieve runs more cleanly than stuffing them into a string column of our now-getting-pretty-big database.
    p This is when I decided to move Splits I/O to Amazon Web Services. Heroku is built on top of AWS, but they charge
      more because they've spent a lot of time building a very simple, intuitive, easy-to-understand way of managing
      servers and their dependent services. Switching to AWS was going to be cheaper for the same hardware, but was a
      big step up in terms of complexity (I'm still learning even now).
    p For a long period of time all the work I did on Splits I/O was infrastructural -- very little coding, lots of
      setting up (and migrating) things like load balancers between the servers, auto-scaling groups to automatically
      add or remove servers under heavy or light load, stuff like that.  To an infrastructure-minded person these are
      basics, but I'm an application developer at heart, and this wasn't my wheelhouse. I'm glad I learned it, but it
      was just that -- a learning process.
    p So anyway, now we're in AWS and cleaning up more things even as we speak (today new runs use S3 rather than that
      string-stuffing stuff I was talking about -- much cleaner, and you benefit as well: faster uploads and unaffected
      load times when others are uploading large runs while you browse). But while I was migrating, the world kept
      turning, and somehow traffic to Splits I/O increased by literally an order of magnitude.
    p Which means I get to use this nice shiny infrastructure that I now understand pretty well to smoothly increase the
      number of servers, and continue to clean stuff up to the same end. And I'll be honest, it feels good. All this
      work moving to a much nicer, cleaner infrastructure that scales up and down really well, and often without me
      needing to tell it to. It feels real good.
    p And that's when I remembered that it costs me money.
    p Quite a bit, actually. Uploaders have been very busy while I've been chugging away in the background. We've now
      got 35k runs across 6k registered users (and many unregistered). And the scaling feels so good in my brain, and
      hurts pretty bad in my wallet. About $200 / month bad.
    p So that's what Gold is. It's "help Glacials pay for all the cool stuff that makes Splits I/O not suck the way it
      did a year ago, because Splits I/O from a year ago under today's traffic would literally die in an hour". Because
      honestly I love Splits I/O to death and if it came down to it, I'd pay the $200 / month (I mean I am doing it
      already, but you know what I mean). But you can bet your LiveSplit history that it's not going to stay at that.
      So Gold is my attempt at a scalable way to cover the...  scaling. My hope is that as the server costs go up, the
      number of Gold members goes up, and they cover each other. I'm not sure if it will happen, but this is my
      attempt.

    h4 Why is this a purchase thing rather than a donation thing?
    p I dunno, I considered very heavily calling it "donating" with "donation benefits" but in the end that just feels
      like the same thing with a different name, and I wanted Gold to actually feel like you get cool stuff in return,
      which a "donation" doesn't really imply. In the end though it could have gone either way, I didn't feel super
      strongly.

    h4 Why not use ads to get money instead?
    p Yeah, it was an option. Really it came down to two things for why I decided against it:
    ol
      li Lots of people use adblock -- lots of people I know -- and I didn't want to take a side in this whole "support
         the dev" vs. "ads are intrusive" thing.
      li Ads really are intrusive. Like really, I'm not a designer but just putting an ad on a page makes me feel icky
         because now the page doesn't flow like I want it to, and if I redesign the page with the ad in mind then now I
         have to keep in mind when developing that there are actually two versions of the page people could see, one
         with the ad and one without (whether because of ad blocking or a paid remove-ads option or whathaveyou). And I
         didn't want to go through that while also feeling slimy.
