
- content_for(:title, 'Why?')
.row.mx-2
  .col-md-6.offset-md-3
    h2 Why is using a password manager easier than not?
    h5 September 2020
    p
      ' People build up password managers in their head to be like a notebook
      ' where you keep track of all your passwords. When you want to create
      ' an account, you write down a new password in the notebook. When you
      ' want to sign in to a website, you look up your password in the notebook
      ' and copy paste it into the page.
    p
      ' This is only technically true. In reality, password managers do almost
      ' everything for you:
      ul
        li Detect when you are creating an account
        li Give you an inline button to generate, fill, and save a random new password
        li Detect what website you are on
        li Give you a button to fill the correct username/password for the site
        li Synchronize all of the above across your devices, using the medium (e.g. cloud, Dropbox, flat file) of your choosing
    p
      ' Forget about security, all that by itself is already a reason to get a
      ' password manager! Think about all the times a stupid website like the DMV
      ' has a weird set of password requirements, and later forgetting which
      ' "version" of your password you used to log in! That's all gone now.
    h3 Okay but security
    p
      ' Some people ask why a password manager can even be more secure if
      ' you're locking all the saved passwords behind a single password anyway!
    p
      ' In security there's a rule of thumb to use for making something secure:
      ' it should need something you know, and something you have.
    p
      ' For example if I find out where you live, it's not the end of the
      ' world because I don't have the keys to your house. Or if I steal the
      ' keys to your house from you on the street, it's probably not the end of
      ' the world, because I don't know where it is.
    p
      ' In internet security we have the same principle. If you use just a
      ' password to get into your account, then a single keylogger or data breach
      ' can give me access to all your accounts.
    p
      ' This is why two-factor authentication is good. If I have a keylogger on
      ' your computer, I still can't get into a 2FA'd account because I don't
      ' know the 2FA secret that lets me generate codes. I know the thing you
      ' know, but I don't have the thing you have.
    p
      ' Password managers work in the same way. There are two components to a
      ' password manager, the master password and the vault. The vault is an
      ' encrypted file on your computer, unlocked by the master password.
    p
      ' If I learn your master password, I actually cannot do anything with it
      ' without the vault. If I steal your hard drive, I cannot do anything
      ' with the vault unless I know your master password.
    p
      ' This is only a minor inconvinience for you, as you just have to
      ' transfer the vault every time you change phones or computers. Most
      ' popular password managers will know how to (securely) synchronize it
      ' with your other devices behind the scenes, so that it feels as if it is
      ' purely on the cloud and always up-to-date.
    h3 Okay but downsides
    p There are some downsides to password managers!
    ul
      li
        ' It's more work to enter your password on weird keyboards, like on a
        ' gaming console or the Netflix app on your TV
      li
        ' It's more work to enter your password on other people's computers,
        ' because you don't have your vault on it so you have to pull out your
        ' phone and copy it letter for letter from your phone like an idiot, and
        ' people frequently think you just haven't learned how to remember a
        ' password
      li
        ' You will gain an unexplainable vitriol to explain password managers to
        ' people in weird places such as on your gaming website that really
        ' shouldn't be in the business of security education
